<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>jpg</string>
				<string>jpeg</string>
				<string>gif</string>
				<string>png</string>
				<string>bmp</string>
				<string>tif</string>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cvbdl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>ComicViewer Bundle</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>ZIP archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>RAR archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>ComicBook ZIP</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>ComicBook RAR</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>TrueCrypt Volume</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbtc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>ComicBook TrueCrypt</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>7-zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cb7</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>ComicBook 7-zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lha</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>LHA Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lzh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mangao-icon</string>
			<key>CFBundleTypeName</key>
			<string>LZH Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>mangao-icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.djhan.MangaoKai</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.45</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>145</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSTypeIsPackage</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>(c) 2013, 2014 Ryota Minami</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://dl.dropboxusercontent.com/u/168552/mangao_kai_update/mangaokai_update.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
